.App {
  text-align: center;
  background-color: rgb(214, 193, 165);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #8d795e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fade-border {
    background: linear-gradient(#8d795e, rgb(214,193,165));
    padding:10px
}

.App-link {
  color: #61dafb;
}

footer {
    padding-top: 4em;
    font-size: small;
}

#calendar-box {
    background-color: lightgrey;
    border-radius: 10px;
}

#App-box {
    background-color: white;
    border-radius: 10px;
    padding: 1em
}

main {
    text-align: center;
}
